html
    head
        title= "Geografia da Rússia"
        link(rel= "stylesheet", href= "/css/main.css")
         
    body
        div(class="links")
            a(href="/html/introducao.html")= "Introdução"
            a(href="/html/mapa.html")= "Mapa"
            a(href="/html/cidades.html")="Cidades"
            a(href="/html/historia.html")="Historia"
            a(href="/html/conflitos.html")="Conflitos"
            a(href="/html/curiosidades.html")="Curiosidades"


        div.russia= "GEOGRAFIA DA RÚSSIA"
          

    footer
        div
            ul#footer
                li
                    a(href="")
                        img.class(src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" alt="")
                li
                    a(href="")
                        img.class(src="https://imagepng.org/wp-content/uploads/2017/08/instagram-icone-icon-2.png" alt="")
                li
                    a(href="")
                        img.class(src="https://www.ajudandroid.com.br/wp-content/uploads/2018/07/app-telefone-google-logo.jpg" alt="")